# Ignore everything
/*

# Ignore
**/*.pytxcode
**/*.sol
**/*.aux
**/*.md5
**/*.json
**/*.fdb_latexmk
**/*.fls
**/*.out
**/*.gz
**/*.preamble
**/*.auxlock
**/*.log
**/*.latexmkrc
**/*.synctex.gz
**/*.key
**/*.xlsx
**/*.ipynb

**/*.docx

# But not these files...
!.gitignore
!_config.yml
!index.html
!content.html
!build_index.py

!latex_styles
latex_styles/compilation_tests
latex_styles/Modèles

# !Terminale


!Seconde
!Seconde/*
Seconde/.vscode
Seconde/Automatismes
Seconde/Evaluations
Seconde/Ressources Perrine
Seconde/*.pdf


