# Ignore everything
/*

# Ignore aux files
**/*.pytxcode
**/*.sol
**/*.aux
**/*.md5
**/*.json
**/*.fdb_latexmk
**/*.fls
**/*.out
**/*.gz
**/*.preamble
**/*.auxlock
**/*.log
**/*.latexmkrc
**/*.synctex.gz
**/*.key
**/*.xlsx
**/*.ipynb
**/*.dvi
**/figures
**/*.docx

# evaluations
**/*_ev_*.pdf
**/*_ev_*.tex

# ressources auxiliaires
**/Axelnax
**/axelnax
**/Ressources
**/XYMaths
**/Bordas*.pdf
**/Bordas*.jpg

# But not these files...
!.gitignore
!_config.yml
!index.html
!content.html
!build_index.py

# styles
!latex
latex/compilation_tests
latex/Modèles

# !Terminale


# Seconde
!Seconde
!Seconde/*
Seconde/.vscode
Seconde/Evaluations/*
!Seconde/Evaluations/DM
Seconde/Ressources
Seconde/*.pdf
